/* CSS Document */

/* Body general setting */
#container{ position:relative;
	        width:1000px;
	        margin:0 auto;
		font-family: Arial, sans-serif;
}

/* Top banner */
#top { background-image:url(../img/TopBannerBackground.jpg);
       background-repeat:no-repeat;
       height:100px;
}

/* Top banner--- System Logo */
#systemLogo{ float:left;
             margin: 3px 0px 10px 10px
}
#userProfileImg{margin: 20px 10px 10px 10px;
	     height: 70px;
	     width:70px;
	     float:left;
}
#userProfile{ float:right;
	      width: 235px;
	      font-size: 13px;
	      font-weight: bold;
}
#userName { margin:20px 0px 0px 10px;	    
}
#userType { margin:8px 0px 0px 10px;		
}
#signout { margin: 8px 0px 0px 10px;
	
}
#signout a { text-decoration: underline;
	     color: white;
             font-size: 13px;
}
/* side menu bar */
#sideMenuBar{ height:505px;
	      background-image:url(../img/SideBar.jpg);
              background-repeat:no-repeat;		        
	      margin-bottom:0px; 
              width:180px;
	      height:680px;
	      float:left;			  
	      font:15px Arial,sans-serif;
	      text-align:center;
}
/* side menu bar---menu */
 #home {display:block;
        margin:35px 60px 0 60px;
 }
 #patient {display:block;
           margin:35px 60px 0 60px;
 }
 #technician {display:block;
           margin:35px 60px 0 60px;
 }
 #roster {display:block;
             margin:35px 60px 0 60px;
 }

 #help {display:block;
        margin:35px 60px 0 60px;
 }
 #sideMenuBar a {color:#fff;
                 text-decoration:none;
				 
 }
 #sideMenuBar a:hover {
                 font-style: italic;
				 
 }

 #sideMenuBar p { margin-top:0px;
				  padding-top:0px;
				  margin-bottom:0px
 }

/* content */

#content{ background-color:#fff;
          height:637px;        
          margin-left:193px;
	  margin-bottom:0px;
          border: solid 3px #000;
          overflow: auto;
}

#location {
           margin-left:13px;
           margin-right:10px;
           float:left;
}
#currentLocation { 
	margin-top:9px;
	height:25px;
	padding-top:4px;
        font-family:Arial,sans-serif;
        font-weight: 600;
}
#currentLocation a { text-decoration: none;
	             font-size:12px;
                     color:#4f6b72;
}
#currentLocation a:hover { font-style:italic;
}
/* footer */
#footer{
	    clear:both;
		text-align:center;
		font-family: arial;
		font-size: 12px; 
		font-weight: normal; 
		letter-spacing: normal;
		text-transform: none;
		word-spacing: normal;
		color:#333;
		margin:0 30px 0;
}
.flash-message-warning {
  background-image: url('../img/messages/warning.png');
  background-repeat: no-repeat;
  background-position: 230px 1px;
  color: #9F6000;
  text-align: center;
  background-color:#FFFABF;
  font-size: 100%;
  font-weight: bold;
  width: 750px;
  margin-left: 14px;
  margin-top:3px;
  border: 1px solid #9F6000;
}
.flash-message-success{
  font-family: Arial, sans-serif;
  background-image: url('../img/messages/success.png');
  background-repeat: no-repeat;
  background-position: 210px 1px;
  color: #4F8A10;
  text-align: center;
  background-color:#DFF2BF;
  font-size: 100%;
  font-weight: bold;
  width: 755px;
  margin-left: 20px;
  margin-top:3px;
  border: 1px solid #4F8A10;
}


