#searchBox{
	margin-top: 15px;
	margin-bottom: 20px;
}
#PatientSelection{
	width:200px;
	height:35px;
	margin-left: 12px;
	float: left;
	font-size: 15px;
}
#PatientValue{
	height:25px;
	margin-left: 18px;
	float:left;
	font-size: 15px;
	width:200px;
}
#btnSearch{
	height:35px;
	margin-left: 33px;
	float:left;
	font-size: 15px;
	width:145px;
}
#btnNew{height:35px;
	margin-left: 18px;
	font-size: 15px;
	width:145px;
	background-image: url(../img/plus.png);
	background-repeat:no-repeat;
	background-position:25px 8px;
	padding-left: 35px;
}
/* scroll bar */
#divTable{
	 overflow: auto;
	width:780px;
	margin:0px auto;	
}
/* table style */

#edit{
	margin-left: 15px;
}
#delete{
	margin-left: 15px;
}
#notes{
	margin-left: 15px;
}



